flask==3.1.*
flask-cors==5.0.*
python-dotenv==1.1.*
SQLAlchemy==2.0.*
PyMySQL==1.1.*
earthengine-api
opencv-python
numpy
requests
Pillow
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
